
@*<section class="cc-sports">
    <div class="container">
        <h2 class="subtitle wow fadeInUp animated cc-q" data-wow-delay=".3s" data-wow-duration="500ms">Do You Prefer Individual Exercise or Team Sports?</h2>
        <div class="row cc-row  cc-container" id="sports-bottons">
            <div class="col-sm-1 col-xs-12"></div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated portfolio-item animated" data-wow-duration="500ms" data-wow-delay="0ms" style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
                    <div class="img-wrapper cc-img-wrapper cc-img-wrapper1">
                        <img src="~/Content/images/individual.png" class="img-responsive" alt="this is a title" width="150" height="150">
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="#" style="text-align:center;" id="IndividualSports" onclick="toggledisplay(this.id) ">Individual Exercise</a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated portfolio-item animated" data-wow-duration="500ms" data-wow-delay="0ms" style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
                    <div class="img-wrapper cc-img-wrapper cc-img-wrapper2">
                        <img src="~/Content/images/group.png" class="img-responsive" alt="this is a title" width="150" height="150">
                        <div class="overlay">
                            <div class="buttons bottons-2">
                                <a rel="gallery" class="fancybox" href="#" style="text-align:center;" id="TeamSports" onclick="toggledisplay(this.id)">Team Sports</a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="col-sm-1 col-xs-12"></div>
        </div>

        

    </div>
</section>*@
<style>
    b, strong {
    font-weight: bold;
    }
</style>

<div class="container" id="cc-img-wrapper" style="display:none">
    <div class="row">
        <div class="col-xs-3 head-sports wow fadeInLeftBig animated" data-wow-delay=".3s" data-wow-duration="1000ms">
            <img src="/Content/images/sports/yoga.png" />
        </div>
        <div class="col-xs-9 wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="1000ms">
            <div class="speech">
                <div class="overlay">
                    <p><b>Yoga</b> is a activity which can be performed at home or in a natural space. Various studies have consistently proven the usefulness of Yoga and how it affects people suffering from depression, ADHD, stress or the people who are prone to it. Some of its useful and recommended yoga asanas to prevent mental health is Corpse Pose (Savasana), headstand (Sirsasana), Legs Up the Wall Pose (Viparita Karani) etc.</p>
                    <div> <iframe width="300" height="215" src="https://www.youtube.com/embed/Sxddnugwu-8?autoplay=1" frameborder="0" allowfullscreen></iframe></div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9 wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="1000ms">
            <div class="speech-right">
                <div class="overlay">
                    <p><b>Running/Walking</b> Stressed or anxious??? Lace up your shoes and go for a spin. Running and walking is the among the best exercise to get relieved and feel jolly. Multiple studies have proven that running and walking have significant amount of benefits, especially on the mental health. Some of the benefits include alleviating anxiety, improved sleep patterns, boosting self-esteem and protecting the brain from aging.</p>
                    <div> <iframe width="300" height="215" src="https://www.youtube.com/embed/5umbf4ps0GQ?autoplay=1" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 head-sports wow fadeInRightBig animated" data-wow-delay=".3s" data-wow-duration="1000ms">
            <img src="/Content/images/sports/running.png" />

        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 head-sports wow fadeInLeftBig animated" data-wow-delay=".3s" data-wow-duration="1000ms">
            <img src="/Content/images/sports/cycling.png" />

        </div>
        <div class="col-xs-9 wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="1000ms">
            <div class="speech">
                <div class="overlay">
                    <p><b>Cycling</b> In today’s stressful environment, people are always looking to find ways to relax and like running and walking, cycling is among the most common individual sport activity people tend to do. The Psychological benefits of cycling are proven in so many researches and yet incredibly under-publicized. Some of its benefits include reducing the risk of depression through ease of mind, helping with sleep insomnia, helps in reducing stress and the list just goes on.</p>
                    <div> <iframe width="300" height="215" src="https://www.youtube.com/embed/pC-VmlKQ6cw?autoplay=1" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9 wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="1000ms">
            <div class="speech-right">
                <div class="overlay">
                    <p><b>Swimming</b> Like other mentioned in this list, swimming can also be a great stress buster and have a positive impact on the individual’s health and well-being, whether physically or mentally and at greater extent than others. Researchers believe that swimming for half an hour, 3 times a week can lower stress levels, raise mood and decrease the incidences of depression and anxiety.</p>
                    <div> <iframe width="300" height="215" src="https://www.youtube.com/embed/irSzTAFJpOs?autoplay=1" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 head-sports wow fadeInRightBig animated" data-wow-delay=".3s" data-wow-duration="1000ms">
            <img src="/Content/images/sports/swimming.png" />

        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 head-sports wow fadeInLeftBig animated" data-wow-delay=".3s" data-wow-duration="1000ms">
            <img src="/Content/images/sports/wkdog.png" />
        </div>
        <div class="col-xs-9 wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="1000ms">
            <div class="speech">
                <div class="overlay">
                    <p><b>Dog Walking</b> Activity like dog walking benefits the individual at great extent. It pushes the individual to go out in the nature and feel positive. Its benefit may include building social connections, improved cardiovascular fitness, lower blood pressure and decreased stress.</p>
                    <div> <iframe width="300" height="215" src="https://www.youtube.com/embed/qXXlICfvfbg?autoplay=1" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9 wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="1000ms">
            <div class="speech-right">
                <div class="overlay">
                    <p><b>Squash</b> Squash is a game which is suitable for every age group and played in a four-walled court with a small, hollow rubber ball and requires a lot more energy than other sports. It is easier to learn and can be modified according to the skill level and available equipment. Its benefit to mental health clearly overcomes the benefit of physical health. Its benefit includes stress release, improved concentration, improved social well-being etc.</p>
                    <div> <iframe width="300" height="215" src="https://www.youtube.com/embed/55qPnBRc2t0?autoplay=1" frameborder="0" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 head-sports wow fadeInRightBig animated" data-wow-delay=".3s" data-wow-duration="1000ms">
            <img src="/Content/images/sports/squash.jpg" />
        </div>
    </div>
</div>