



<div class="animated fadeIn" id="0-1" style="display:none">
    <div class="alert alert-dismissible alert-secondary">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p style="padding-bottom:30px">
            Today’s fast moving life doesn’t give enough time
            to exercise and exercising even one day a week after work is a difficult task in itself
            but numerous researchers have proved that physical exercising can have long term positive
            effects and can increase individual’s lifespan. However, Not all experts agree that exercising
            once a week is sufficient since it doesn’t give much space to your muscles to open up. Exercises
            like walking to work, dog walking etc. can become an effective alternative to this. In order to
            make it easy for you, we have put up some suggestions for sports and fitness clubs.
        </p>
        <button type="button" class="btn btn-outline-info" onclick="location.href = '/Sports/sports'">View Detial</button>
        <button style="margin-left: 2%" type="button" class="btn btn-outline-info" onclick="location.href = '/Home/medicalHelp'">Find Your Gyms</button>
    </div>
</div>

<div class="animated fadeIn" id="2-3" style="display:none">
    <div class="alert alert-dismissible alert-secondary">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p style="padding-bottom:30px">
            Exercising twice a week can have positive and healthy impacts on your body.
            It helps in curing various skin and other diseases as well. Many Researchers have proved
            that the people who exercise twice a week tend to follow a much healthier lifestyle and
            significantly longer lifespan. However, researchers also believe that exercising should not
            just be limited to gymming or jogging, but should be a part of daily life like cycling home,
            doing yoga etc.  In order to make it easy for you, we have put up some suggestions for sports and fitness clubs as well.
        </p>
        <button type="button" class="btn btn-outline-info" onclick="location.href = '/Sports/sports';">View Detial</button>
        <button style="margin-left: 2%" type="button" class="btn btn-outline-info" onclick="location.href = '/Home/medicalHelp'">Find Your Gyms</button>
    </div>
</div>

<div class="animated fadeIn" id="4-more" style="display:none">
    <div class="alert alert-dismissible alert-secondary">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p style="padding-bottom:30px">
            Great!!! you seem to be healthier than 6 billion other people in the world
            according to a research done by Concordia university, Montreal . People who exercise more than thrice a
            week tend to be more healthier and live longer. It also helps in decreasing your stress and curing many life
            threatening diseases, directly or indirectly. In case you would like to know more about a gym nearby or some
            suggested activities, you can look for some suggestions on this website.
        </p>
        <button type="button" class="btn btn-outline-info" onclick="location.href = '/Sports/sports';">View Detial</button>
        <button style="margin-left: 2%" type="button" class="btn btn-outline-info" onclick="location.href = '/Home/medicalHelp'">Find Your Gyms</button>
    </div>
</div>




