<style>
    .footer_midle {
        background: rgba(128, 128, 128, 0.22);
    }
</style>
<div class="footer_midle" >
    <div class="container">
        <div class="col-md-6">
            <div class="copyright">
                <p>&copy; @DateTime.Now.Year - Cheer Up</p>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Social Media -->
            <ul class="social">
                <li>
                    <a href="https://www.facebook.com/Cheer-Up-Students-by-Tungsten-332013587343366/" class="Facebook">
                        <i class="ion-social-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="http://wwww.twitter.com/themefisher" class="Twitter">
                        <i class="ion-social-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/cheer-up-students/" class="Linkedin">
                        <i class="ion-social-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/communities/104324317312316928166" class="Google Plus">
                        <i class="ion-social-googleplus"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
