<section class="company-description" id="know-info-fsy">
    <div class="container">
        <div class="row">
            <div class="col-md-4 wow fadeInLeft" data-wow-delay=".3s">
                @*<img src="images/about/about-company.jpg" alt="" class="img-responsive">*@
                <img src="~/Content/images/facts.jpg" alt="" class="img-responsive" id="fact-img-fsy" />

            </div>
            <div class="col-md-8">
                <div class="block">
                    <h3 class="subtitle wow fadeInUp" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'" data-wow-delay=".3s" data-wow-duration="500ms">Interesting Facts</h3>
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        Good Mental health is important to have a healthy and joyful lifestyle. Any changes in mental health affects your family, friends and yourself.  Here are some of the interesting facts about mental health which might may shock and surprise you at the same time.
                    </p>
                    <p>
                        <br />
                        <ol type="I" class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                            <li>Stressed is read “desserts” backward. </li>

                            <li>Around 1 million Australian adults suffer have conditions like depression and around 2 million with any sort of anxiety</li>
                            <li>About 14% of Australians are affected by anxiety disorder every year.</li>
                            <li>About 90% of people with mental health condition don’t have any history of violence, compared to others with no mental health conditions.</li>
                            <li>The average video gamer is typically 35-year-old male who is most likely depressed, overweight, and introverted.</li>
                            <li>Eating seafood rich in Omega-3 may help pregnant women with depression.</li>

                            <li>Expressing depression like symptoms is actually conducive to fighting infection and make you live longer. Not only this, it makes people take more clear and less impulsive decisions.</li>
                        </ol>
                        <br>
                    </p>
                    <p type="I" class="wow fadeInUp" data-wow-delay=".9s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        CheerUp is here to help the people aged between 18 and 50, with information about how you may be able to stay away from any mental health condition, by following an active and healthy lifestyle. Want to know more?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

