<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".5s">
                @*<img src="images/about/about-company.jpg" alt="" class="img-responsive">*@
                <img src="~/Content/images/r1.jpg" alt="" class="img-responsive" id="sign-img-fsy" />
            </div>

            <div class="col-md-6">
                <div class="block">
                    <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">Signs and symptoms</h3>
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        Student life is not easy and tends to be more difficult than other people. It might be due to all the assignment work, job stress, lack of proper work-life balance. It may also include cultural difficulties, in case of overseas students.
                    </p><br />
                    <p class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        So, there are some signs and symptoms which help in understanding the mental health better. So, individual can take actions accordingly. The signs and symptoms can be any small changes in the mood or daily lifestyle of an individual. Some of the signs and symptoms include.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h4 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">Feeling anxious?</h4>
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        Being stressed or worried all the times is a very common sign, especially seen in university students and there are a variety of reasons for that. Some of the reasons may include managing their study-work pressure, cultural issues, meeting tight deadlines etc. It is also believed that every 1 in 3 university students suffers from mental health conditions.
                        not good and interferes with day-to-day

                    </p><br />
                    <h4 class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">Unhappy?</h4>
                    <p class="wow fadeInUp" data-wow-delay=".9s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        Sadness is a part of life and one may feel sad because of variety of reasons like a student may feel sad due to an assignment result or any other small problem but it is important to know when the sadness is starting to affect your daily life and others involved.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h4 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">Sleep insomnia?</h4>
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        An average adult needs about 7-9 hours of sleep a day. In today’s life with all the hustle-bustle, lack of sleep or problems waking up is seen quite often than before. It is also justified as there is less time available for people to follow a good-night sleep pattern. However, persisting changes to a person’s sleep pattern and issues with continuous sleep could relate to a mental health issue.
                    </p>
                    <div class="wow fadeInLeft" data-wow-delay=".5s">
                        @*<img src="images/about/about-company.jpg" alt="" class="img-responsive">*@
                        <img src="~/Content/images/Signs-Symptoms.png" alt="" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="company-description" style="margin-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h4 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">Mood swings?</h4>
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        Most of the times, mood swings tend to be natural and does not mean anything. However, sudden and dramatic change in emotions on a frequent basis can be a symptom of mental health.
                    </p><br />
                    <h4 class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">weight loss?</h4>
                    <p class="wow fadeInUp" data-wow-delay=".9s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        There are a lot of people who want to lose a few kilos without doing any activity or exercise but it can’t be that easy. So, any sudden change in weight or body can be a symptom of an unhealthy mental condition.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h4 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">Don’t want to talk?</h4>
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        Sometimes a good alone time is needed due to the stressful life, relationship problems and other personal reasons but isolating too much from the social world and your close ones might become a reason and make you more prone to a major mental health issue.
                    </p><br />
                    <h4 class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">Feel regretful?</h4>
                    <p class="wow fadeInUp" data-wow-delay=".9s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        There is a point in everyone’s life when you have bad thoughts and consider yourself a failure. Even the smallest of setback have a big impact upon you. It is important to overcome it, when it initially develops.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>