<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">Statistics</h3>
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        In Australia, It is estimated that about 45% of men and women will experience a mental health condition in their lifetime. Also, about 1 million Australian adults have conditions like depression and around 2 million with any sort of anxiety. various researches have also proved that that is is mental health conditions is most commonly seen among university students, as about 1 in every 3 students suffer from a mental health condition.
                    </p><br />
                    <p class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        To cheer up and live a healthy life, both physically and mentally. It is important to follow some healthy practices like adopting physical activities in daily routine.  The US National institute of mental health has proved that exercise is positively linked with mental health, reduced stress and anxiety and have emotional benefits for every age group. Not only it can help those who are suffering from mental health condition, but can also prevent people from initially developing any sort of anxiety or depression, the research concluded.
                    </p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 wow fadeInLeft" data-wow-delay=".3s">
                <div id="canvas-holder" style="width:85%">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
                <script type="text/javascript" src="~/Content/js/visual/top6.js"></script>
            </div>
        </div>
    </div>
</section>

<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 wow fadeInLeft" data-wow-delay=".3s">
                <div id="canvas-holder" style="width:75%">
                    <canvas id="myBar" width="400" height="400"></canvas>
                </div>
                <script type="text/javascript" src="~/Content/js/visual/mf.js"></script>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <p class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        Data shown above provides a good insight about how often Australians tend to do physical activity/ exercise. It is displayed according to the states and the frequency of physical activities done by people.
                    </p><br />
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        In Western Australia, about 79% of people do physical activity once a week and 60% of people do thrice a week. The most active and best performing state among others is ACT, where people tend to follow much healthier lifestyle and less prone to mental health conditions. However, in Northern Territory(NT), people tend to be less physically active than others.
                    </p><br />
                    <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        Also, the graph above shows what kind of physical activity is more popular in Australia, starting with walking at 25.5%, followed by fitness clubs at 19.2%. Other sports/ [physical activity includes dancing, fishing, Pilates, footy, surfing, cricket etc.
                    </p><br />

                </div>
            </div>
        </div>
    </div>
</section>


<section class="company-description">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="block">
                    <h4 class="wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">Our Prediction</h4>
                    @*<p class="wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="500ms">
                            Data shown above provides a good insight about how often Australians tend to do physical activity/ exercise. It is displayed according to the states and the frequency of physical activities done by people.
                        </p>
                        <p class="wow fadeInUp" data-wow-delay="0.9s" data-wow-duration="500ms">
                            In Western Australia, about 79% of people do physical activity once a week and 60% of people do thrice a week. The most active and best performing state among others is ACT, where people tend to follow much healthier lifestyle and less prone to mental health conditions. However, in Northern Territory(NT), people tend to be less physically active than others.
                        </p>*@
                    <style>

                        table {
                            width: 90%;
                        }

                        /*table, th, td {
                                border: 1px solid black;
                                border-collapse: collapse;
                            }*/

                        th, td {
                            padding: 15px;
                            text-align: center;
                        }

                        table#t01 tr:nth-child(even) {
                            background-color: rgba(96, 137, 221, 0.30);
                        }

                        table#t01 tr:nth-child(odd) {
                            background-color: white;
                        }

                        table#t01 th {
                            background-color: rgba(13, 83, 89, 0.60);
                            color: white;
                        }
                    </style>
                    <table id="t01" class="wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="500ms" style="font-family: 'Comic Sans MS', Courier, 'Times New Roman'">
                        <tr>
                            <th>Year</th>
                            <th>Whole World Depression Percentage</th>
                        </tr>
                        <tr>
                            <td>2017</td>
                            <td>3.8248</td>
                        </tr>
                        <tr>
                            <td>2018</td>
                            <td>3.8226</td>
                        </tr>
                        <tr>
                            <td>2019</td>
                            <td>3.8213</td>
                        </tr>
                        <tr>
                            <td>2020</td>
                            <td>3.8210</td>
                        </tr>
                        <tr>
                            <td>2021</td>
                            <td>3.8217</td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 wow fadeInLeft" data-wow-delay=".3s">
                <div id="canvas-holder" style="width:75%">
                    <canvas id="myLine" width="400" height="400"></canvas>
                </div>
                @*<script type="text/javascript" src="~/Content/js/visual/mf.js"></script>*@
                <script src="~/Content/js/visual/auDepression.js"></script>
            </div>
        </div>
    </div>
</section>
